[submodule "vim/pack/common/start/nerdtree"]
	path = vim/pack/common/start/nerdtree
	url = ../../scrooloose/nerdtree.git
[submodule "vim/pack/common/start/vim-fugitive"]
	path = vim/pack/common/start/vim-fugitive
	url = ../../tpope/vim-fugitive.git
[submodule "vim/pack/common/start/nerdcommenter"]
	path = vim/pack/common/start/nerdcommenter
	url = ../../scrooloose/nerdcommenter.git
[submodule "vim/pack/common/start/vim-repeat"]
	path = vim/pack/common/start/vim-repeat
	url = ../../tpope/vim-repeat.git
[submodule "vim/pack/common/start/vim-surround"]
	path = vim/pack/common/start/vim-surround
	url = ../../tpope/vim-surround.git
[submodule "vim/pack/common/start/gundo.vim"]
	path = vim/pack/common/start/gundo.vim
	url = ../../sjl/gundo.vim.git
[submodule "vim/pack/common/start/vim-abolish"]
	path = vim/pack/common/start/vim-abolish
	url = ../../tpope/vim-abolish.git
[submodule "vim/pack/common/start/vim-signature"]
	path = vim/pack/common/start/vim-signature
	url = ../../kshenoy/vim-signature.git
[submodule "vim/pack/common/start/vim-windowswap"]
	path = vim/pack/common/start/vim-windowswap
	url = ../../wesQ3/vim-windowswap.git
[submodule "vim/pack/common/start/vim-startify"]
	path = vim/pack/common/start/vim-startify
	url = ../../mhinz/vim-startify.git
[submodule "vim/pack/common/start/vim-misc"]
	path = vim/pack/common/start/vim-misc
	url = ../../xolox/vim-misc.git
[submodule "vim/pack/common/start/vim-session"]
	path = vim/pack/common/start/vim-session
	url = ../../xolox/vim-session.git
[submodule "vim/pack/common/start/ale"]
	path = vim/pack/common/start/ale
	url = ../../dense-analysis/ale.git
[submodule "vim/pack/nvim/opt/plenary.nvim"]
	path = vim/pack/nvim/opt/plenary.nvim
	url = ../../nvim-lua/plenary.nvim.git
	branch = master
[submodule "vim/pack/nvim/opt/telescope.nvim"]
	path = vim/pack/nvim/opt/telescope.nvim
	url = ../../nvim-telescope/telescope.nvim.git
	branch = master
[submodule "vim/pack/nvim/opt/nvim-treesitter"]
	path = vim/pack/nvim/opt/nvim-treesitter
	url = ../../nvim-treesitter/nvim-treesitter.git
	branch = master
[submodule "vim/pack/vim/opt/vim-polyglot"]
	path = vim/pack/vim/opt/vim-polyglot
	url = ../../sheerun/vim-polyglot.git
[submodule "vim/pack/nvim/opt/lush.nvim"]
	path = vim/pack/nvim/opt/lush.nvim
	url = ../../rktjmp/lush.nvim.git
[submodule "vim/pack/nvim/opt/blink.cmp"]
	path = vim/pack/nvim/opt/blink.cmp
	url = ../../Saghen/blink.cmp.git
[submodule "vim/pack/nvim/opt/windsurf.nvim"]
	path = vim/pack/nvim/opt/windsurf.nvim
	url = ../../Exafunction/windsurf.nvim.git
[submodule "vim/pack/common/start/lightline.vim"]
	path = vim/pack/common/start/lightline.vim
	url = ../../itchyny/lightline.vim.git
[submodule "vim/pack/common/start/lightline-ale"]
	path = vim/pack/common/start/lightline-ale
	url = ../../rbuchss/lightline-ale.git
[submodule "vim/pack/nvim/opt/gitsigns.nvim"]
	path = vim/pack/nvim/opt/gitsigns.nvim
	url = ../../lewis6991/gitsigns.nvim.git
[submodule "vim/pack/nvim/opt/statuscol.nvim"]
	path = vim/pack/nvim/opt/statuscol.nvim
	url = ../../luukvbaal/statuscol.nvim.git
[submodule "vim/pack/nvim/opt/mason.nvim"]
	path = vim/pack/nvim/opt/mason.nvim
	url = ../../mason-org/mason.nvim.git
[submodule "vim/pack/nvim/opt/mason-lspconfig.nvim"]
	path = vim/pack/nvim/opt/mason-lspconfig.nvim
	url = ../../mason-org/mason-lspconfig.nvim.git
[submodule "vim/pack/nvim/opt/nvim-lspconfig"]
	path = vim/pack/nvim/opt/nvim-lspconfig
	url = ../../neovim/nvim-lspconfig.git
[submodule "vim/pack/nvim/opt/mason-tool-installer.nvim"]
	path = vim/pack/nvim/opt/mason-tool-installer.nvim
	url = ../../WhoIsSethDaniel/mason-tool-installer.nvim.git
[submodule "vim/pack/nvim/opt/fidget.nvim"]
	path = vim/pack/nvim/opt/fidget.nvim
	url = ../../j-hui/fidget.nvim.git
[submodule "vim/pack/nvim/opt/lazydev.nvim"]
	path = vim/pack/nvim/opt/lazydev.nvim
	url = ../../folke/lazydev.nvim.git
[submodule "vim/pack/nvim/opt/which-key.nvim"]
	path = vim/pack/nvim/opt/which-key.nvim
	url = ../../folke/which-key.nvim.git
[submodule "vim/pack/nvim/opt/todo-comments.nvim"]
	path = vim/pack/nvim/opt/todo-comments.nvim
	url = ../../folke/todo-comments.nvim.git
[submodule "vim/pack/nvim/opt/zombat.nvim"]
	path = vim/pack/nvim/opt/zombat.nvim
	url = ../../rbuchss/zombat.nvim.git
[submodule "vim/pack/nvim/opt/nvim-dap"]
	path = vim/pack/nvim/opt/nvim-dap
	url = ../../mfussenegger/nvim-dap.git
[submodule "vim/pack/nvim/opt/nvim-nio"]
	path = vim/pack/nvim/opt/nvim-nio
	url = ../../nvim-neotest/nvim-nio.git
[submodule "vim/pack/nvim/opt/nvim-dap-ui"]
	path = vim/pack/nvim/opt/nvim-dap-ui
	url = ../../rcarriga/nvim-dap-ui.git
[submodule "vim/pack/nvim/opt/mason-nvim-dap.nvim"]
	path = vim/pack/nvim/opt/mason-nvim-dap.nvim
	url = ../../jay-babu/mason-nvim-dap.nvim.git
[submodule "vim/pack/nvim/opt/lz.n"]
	path = vim/pack/nvim/opt/lz.n
	url = ../../lumen-oss/lz.n.git
[submodule "vim/pack/nvim/opt/claude-code.nvim"]
	path = vim/pack/nvim/opt/claude-code.nvim
	url = ../../greggh/claude-code.nvim.git
[submodule "vim/pack/nvim/opt/nvim-dap-python"]
	path = vim/pack/nvim/opt/nvim-dap-python
	url = ../../mfussenegger/nvim-dap-python.git
[submodule "vim/pack/nvim/opt/catppuccin.nvim"]
	path = vim/pack/nvim/opt/catppuccin.nvim
	url = ../../catppuccin/nvim.git
[submodule "vim/pack/nvim/opt/kanagawa.nvim"]
	path = vim/pack/nvim/opt/kanagawa.nvim
	url = ../../rebelot/kanagawa.nvim.git
[submodule "vim/pack/nvim/opt/tokyonight.nvim"]
	path = vim/pack/nvim/opt/tokyonight.nvim
	url = ../../folke/tokyonight.nvim.git
[submodule "vim/pack/nvim/opt/trouble.nvim"]
	path = vim/pack/nvim/opt/trouble.nvim
	url = ../../folke/trouble.nvim.git
[submodule "vim/pack/nvim/opt/obsidian.nvim"]
	path = vim/pack/nvim/opt/obsidian.nvim
	url = ../../obsidian-nvim/obsidian.nvim.git
[submodule "vim/pack/nvim/opt/rose-pine.nvim"]
	path = vim/pack/nvim/opt/rose-pine.nvim
	url = ../../rose-pine/neovim.git
[submodule "vim/pack/nvim/opt/nightfox.nvim"]
	path = vim/pack/nvim/opt/nightfox.nvim
	url = ../../EdenEast/nightfox.nvim.git
[submodule "vim/pack/nvim/opt/nordic.nvim"]
	path = vim/pack/nvim/opt/nordic.nvim
	url = ../../AlexvZyl/nordic.nvim.git
[submodule "vim/pack/nvim/opt/everforest.nvim"]
	path = vim/pack/nvim/opt/everforest.nvim
	url = ../../sainnhe/everforest.git
[submodule "vim/pack/nvim/opt/vscode.nvim"]
	path = vim/pack/nvim/opt/vscode.nvim
	url = ../../Mofiqul/vscode.nvim.git
[submodule "vim/pack/nvim/opt/sonokai.nvim"]
	path = vim/pack/nvim/opt/sonokai.nvim
	url = ../../sainnhe/sonokai.git
[submodule "vim/pack/nvim/opt/cyberdream.nvim"]
	path = vim/pack/nvim/opt/cyberdream.nvim
	url = ../../scottmckendry/cyberdream.nvim.git
[submodule "vim/pack/nvim/opt/vim-moonfly-colors"]
	path = vim/pack/nvim/opt/vim-moonfly-colors
	url = ../../bluz71/vim-moonfly-colors.git
[submodule "vim/pack/nvim/opt/dracula.nvim"]
	path = vim/pack/nvim/opt/dracula.nvim
	url = ../../Mofiqul/dracula.nvim.git
[submodule "vim/pack/nvim/opt/nord.nvim"]
	path = vim/pack/nvim/opt/nord.nvim
	url = ../../shaunsingh/nord.nvim.git
[submodule "vim/pack/nvim/opt/gruvbox-material"]
	path = vim/pack/nvim/opt/gruvbox-material
	url = ../../sainnhe/gruvbox-material.git
[submodule "vim/pack/nvim/opt/onedark.nvim"]
	path = vim/pack/nvim/opt/onedark.nvim
	url = ../../navarasu/onedark.nvim.git
[submodule "vim/pack/nvim/opt/material.nvim"]
	path = vim/pack/nvim/opt/material.nvim
	url = ../../marko-cerovac/material.nvim.git
[submodule "vim/pack/nvim/opt/solarized-osaka.nvim"]
	path = vim/pack/nvim/opt/solarized-osaka.nvim
	url = ../../craftzdog/solarized-osaka.nvim.git
[submodule "vim/pack/nvim/opt/onedarkpro.nvim"]
	path = vim/pack/nvim/opt/onedarkpro.nvim
	url = ../../olimorris/onedarkpro.nvim.git
[submodule "vim/pack/nvim/opt/github-nvim-theme"]
	path = vim/pack/nvim/opt/github-nvim-theme
	url = ../../projekt0n/github-nvim-theme.git
[submodule "vim/pack/nvim/opt/oxocarbon.nvim"]
	path = vim/pack/nvim/opt/oxocarbon.nvim
	url = ../../nyoom-engineering/oxocarbon.nvim.git
[submodule "vim/pack/nvim/opt/melange-nvim"]
	path = vim/pack/nvim/opt/melange-nvim
	url = ../../savq/melange-nvim.git
[submodule "vim/pack/nvim/opt/bamboo.nvim"]
	path = vim/pack/nvim/opt/bamboo.nvim
	url = ../../ribru17/bamboo.nvim.git
[submodule "vim/pack/nvim/opt/edge"]
	path = vim/pack/nvim/opt/edge
	url = ../../sainnhe/edge.git
[submodule "vim/pack/nvim/opt/telescope-ui-select.nvim"]
	path = vim/pack/nvim/opt/telescope-ui-select.nvim
	url = ../../nvim-telescope/telescope-ui-select.nvim.git
[submodule "vim/pack/nvim/opt/nvim-dap-go"]
	path = vim/pack/nvim/opt/nvim-dap-go
	url = ../../leoluz/nvim-dap-go.git
