[submodule "vim/bundle/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = ../../scrooloose/nerdtree.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/pack/vendor/start/vim-fugitive
	url = ../../tpope/vim-fugitive.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/pack/vendor/start/nerdcommenter
	url = ../../scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/pack/vendor/start/vim-repeat
	url = ../../tpope/vim-repeat.git
[submodule "vim/bundle/vim-surround"]
	path = vim/pack/vendor/start/vim-surround
	url = ../../tpope/vim-surround.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/pack/vendor/start/gundo.vim
	url = ../../sjl/gundo.vim.git
[submodule "vim/bundle/vim-abolish"]
	path = vim/pack/vendor/start/vim-abolish
	url = ../../tpope/vim-abolish.git
[submodule "vim/bundle/vim-signature"]
	path = vim/pack/vendor/start/vim-signature
	url = ../../kshenoy/vim-signature.git
[submodule "vim/bundle/vim-windowswap"]
	path = vim/pack/vendor/start/vim-windowswap
	url = ../../wesQ3/vim-windowswap.git
[submodule "vim/bundle/vim-startify"]
	path = vim/pack/vendor/start/vim-startify
	url = ../../mhinz/vim-startify.git
[submodule "vim/bundle/vim-misc"]
	path = vim/pack/vendor/start/vim-misc
	url = ../../xolox/vim-misc.git
[submodule "vim/bundle/vim-session"]
	path = vim/pack/vendor/start/vim-session
	url = ../../xolox/vim-session.git
[submodule "vim/bundle/vim-polyglot"]
	path = vim/pack/vendor/start/vim-polyglot
	url = ../../sheerun/vim-polyglot.git
[submodule "vim/pack/vendor/start/ale"]
	path = vim/pack/vendor/start/ale
	url = ../../dense-analysis/ale.git
[submodule "vim/pack/vendor/opt/plenary.nvim"]
	path = vim/pack/vendor/opt/plenary.nvim
	url = ../../nvim-lua/plenary.nvim.git
	branch = master
[submodule "vim/pack/vendor/opt/telescope.nvim"]
	path = vim/pack/vendor/opt/telescope.nvim
	url = ../../nvim-telescope/telescope.nvim.git
	branch = master
